**MODEL EVALUATION**

PROJECT NAME: UNIVERSITY ADMIT ELIGIBILITY PREDICTOR

TEAM ID: **PNT2022TMID04204**

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns

In [ ]:
data=pd.read_csv('Admission_Predict.csv')

In [ ]:
data.head()

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research,Chance of Admit
0,1,337,118,4,4.5,4.5,9.65,1,0.92
1,2,324,107,4,4.0,4.5,8.87,1,0.76
2,3,316,104,3,3.0,3.5,8.00,1,0.72
3,4,322,110,3,3.5,2.5,8.67,1,0.80
4,5,314,103,2,2.0,3.0,8.21,0,0.65

Training and Testing the model

In [ ]:
x=data.drop(['Chance of Admit '],axis=1) 
y=data['Chance of Admit ']

In [ ]:
from sklearn.model_selection import train_test_split 
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.15)

In [ ]:
x_train

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
75,76,329,114,2,2.0,4.0,8.56,1
119,120,327,104,5,3.0,3.5,8.84,1
52,53,334,116,4,4.0,3.0,8.00,1
342,343,308,106,3,3.0,3.0,8.24,0
320,321,317,106,3,4.0,3.5,8.50,1
...,...,...,...,...,...,...,...,...
250,251,320,104,3,3.0,2.5,8.57,1
13,14,307,109,3,4.0,3.0,8.00,1
232,233,312,107,2,2.5,3.5,8.27,0
306,307,323,110,3,4.0,3.5,9.10,1
323,324,305,102,2,2.0,2.5,8.18,0

In [ ]:
y_train

75     0.72
119    0.71
52     0.78
342    0.58
320    0.75
       ...
250    0.74
13     0.62
232    0.69
306    0.79
323    0.62
Name: Chance of Admit , Length: 340, dtype: float64

In [ ]:
x_test

,Serial No.,GRE Score,TOEFL Score,University Rating,SOP,LOR,CGPA,Research
262,263,308,103,2,2.5,4.0,8.36,1
47,48,339,119,5,4.5,4.0,9.70,0
10,11,325,106,3,3.5,4.0,8.40,1
173,174,323,113,4,4.0,4.5,9.23,1
110,111,305,108,5,3.0,3.0,8.48,0
377,378,290,100,1,1.5,2.0,7.56,0
155,156,312,109,3,3.0,3.0,8.69,0
40,41,308,110,3,3.5,3.0,8.00,1
80,81,312,105,3,2.0,3.0,8.02,1
396,397,325,107,3,3.0,3.5,9.11,1
156,157,315,105,3,2.0,2.5,8.34,0
128,129,326,112,3,3.5,3.0,9.10,1
49,50,327,111,4,3.0,4.0,8.40,1
183,184,314,110,3,4.0,4.0,8.80,0
129,130,333,118,5,5.0,5.0,9.35,1
345,346,316,98,1,1.5,2.0,7.43,0
355,356,317,106,2,2.0,3.5,8.12,0
309,310,308,110,4,3.5,3.0,8.60,0
188,189,331,115,5,4.5,3.5,9.36,1
91,92,299,97,3,5.0,3.5,7.66,0
304,305,313,106,2,2.5,2.0,8.43,0
291,292,300,102,2,1.5,2.0,7.87,0
319,320,327,113,4,3.5,3.0,8.69,1
162,163,318,109,3,3.0,3.0,8.50,0
290,291,307,105,2,2.5,3.0,7.65,0
298,299,330,114,3,4.5,4.5,9.24,1
273,274,312,99,1,1.0,1.5,8.01,1
21,22,325,114,4,3.0,2.0,8.40,0
398,399,312,103,3,3.5,4.0,8.78,0
27,28,298,98,2,1.5,2.5,7.50,1
334,335,312,107,4,4.5,4.0,8.65,1
272,273,294,95,1,1.5,1.5,7.64,0
117,118,290,104,4,2.0,2.5,7.46,0
26,27,322,109,5,4.5,3.5,8.80,0
70,71,332,118,5,5.0,5.0,9.64,1
358,359,314,105,2,2.5,2.0,7.64,0
161,162,298,99,1,1.5,3.0,7.46,0
167,168,313,102,3,2.0,3.0,8.27,0
195,196,307,107,2,3.0,3.5,8.52,1
344,345,295,96,2,1.5,2.0,7.34,0
382,383,324,110,4,4.5,4.0,9.15,1
359,360,321,107,2,2.0,1.5,8.44,0
376,377,297,96,2,2.5,2.0,7.43,0
7,8,308,101,2,3.0,4.0,7.90,0
315,316,308,104,2,2.5,3.0,8.07,0
347,348,299,94,1,1.0,1.0,7.34,0
385,386,335,117,5,5.0,5.0,9.82,1
158,159,306,106,2,2.0,2.5,8.14,0
73,74,314,108,4,4.5,4.0,9.04,1
113,114,320,110,2,4.0,3.5,8.56,0
269,270,308,108,4,4.5,5.0,8.34,0
370,371,310,103,2,2.5,2.5,8.24,0
229,230,324,111,4,3.0,3.0,9.01,1
365,366,330,114,4,4.5,3.0,9.17,1
145,146,320,113,2,2.0,2.5,8.64,1
245,246,328,110,4,4.0,2.5,9.02,1
153,154,324,105,3,3.0,4.0,8.75,0
284,285,340,112,4,5.0,4.5,9.66,1
391,392,318,106,3,2.0,3.0,8.65,0
308,309,312,108,3,3.5,3.0,8.53,0

In [ ]:
y_test

262    0.70
47     0.89
10     0.52
173    0.89
110    0.61
377    0.47
155    0.77
40     0.46
80     0.50
396    0.84
156    0.70
128    0.84
49     0.78
183    0.75
129    0.92
345    0.49
355    0.73
309    0.70
188    0.93
91     0.38
304    0.62
291    0.56
319    0.80
162    0.67
290    0.58
298    0.90
273    0.52
21     0.70
398    0.67
27     0.44
334    0.73
272    0.49
117    0.45
26     0.76
70     0.94
358    0.70
161    0.53
167    0.64
195    0.78
344    0.47
382    0.82
359    0.81
376    0.34
7      0.68
315    0.65
347    0.42
385    0.96
158    0.61
73     0.84
113    0.72
269    0.77
370    0.72
229    0.82
365    0.86
145    0.81
245    0.81
153    0.79
284    0.94
391    0.71
308    0.69
Name: Chance of Admit , dtype: float64

Model Evaluation

In [ ]:
from sklearn.ensemble import GradientBoostingRegressor
model = GradientBoostingRegressor()
model.fit(x_train,y_train)

GradientBoostingRegressor()

In [ ]:
model.score(x_test,y_test)

0.819000897604716

In [ ]:
y_predict=model.predict(x_test)

In [ ]:
from sklearn.metrics import mean_squared_error, r2_score,mean_absolute_error
import numpy as np
print('Mean Absolute Error:', mean_absolute_error(y_test, y_predict))  
print('Mean Squared Error:', mean_squared_error(y_test, y_predict))  
print('Root Mean Squared Error:', np.sqrt(mean_squared_error(y_test, y_predict)))

Mean Absolute Error: 0.04955934759404943
Mean Squared Error: 0.004474594448629235
Root Mean Squared Error: 0.06689240949935377

In [ ]:
y_train = (y_train>0.5)
y_test = (y_test>0.5)

In [ ]:
from sklearn.linear_model._logistic import LogisticRegression

lore = LogisticRegression(random_state=0, max_iter=1000)

lr = lore.fit(x_train, y_train)

In [ ]:
y_pred = lr.predict(x_test)

In [ ]:
y_pred

array([ True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True, False,  True,  True,  True,  True,  True,  True,  True,
        True,  True, False,  True, False,  True,  True,  True,  True,
        True,  True,  True, False,  True,  True,  True,  True,  True,
       False,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True,  True,  True,  True,  True])